<header class="bg-white">
    <nav class="navbar navbar-expand navbar-light bg-white border-bottom">
        <div class="container">
            <!-- Логотип слева -->
            <a class="navbar-brand text-dark me-auto" href="{% url 'index' %}">
                <i class="bi bi-rocket me-2 text-primary"></i>TaskTracker
            </a>

            <!-- Кнопки управления справа -->
            <div class="d-flex gap-2">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="btn btn-danger">Выход</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-success">Войти</a>
                    <a href="{% url 'register' %}" class="btn btn-outline-dark">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>